body {
    width: 100%;
    margin: 0;
    font-family: "Assistant";
    background-color: #D0D0D0;
    color: white;
}


.header{
    width: 100%;
    height: auto;
}

.header-wrapper{

  width: 95%;
  margin: 0 auto;


}



#header-logo{
  width: 8em;
  vertical-align: center;
  margin: 1.5em auto;
  display: inline-block;

}

/*Main*/

.main {
    width: 100%;
    height: auto;
}

.container {
  
    width: 75%;
    margin: 2em auto;
    height: auto;
}



h1.title{
  font-size: 48px;
  margin: 0em auto;
}

p.title{
  margin: 0 auto;
  font-size: 18px;
}

p.title a {
  text-decoration: none;
  color: white;
}


p.sub-title{
  padding-bottom:2em;
  border-bottom:2px solid white;
  font-size: 18px;
}

ul{
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  font-weight: 300;
  padding-top: 2em;
  padding-bottom: 3em;
  color: rgba(255,255,255,0.6)
}

li{
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 0.5em 0;
  cursor: pointer;
}

ul li a{
  color: white;
  list-style: none;
  text-decoration: none;
}


ul li a:hover{
  text-decoration: underline;
}

.column-8-8,
.column-7-8,
.column-6-8,
.column-5-8,
.column-4-8,
.column-3-8,
.column-2-8,
.column-1-8 {
    margin:0% 1%;
    padding:0 1%;
}

#fiddle{
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
}

#fiddle img{
  width: 1.5em;
  vertical-align: middle;
  padding-right: 0.5em;

}



/*Responsive*/

@media screen and (max-width: 720px) {


   .column-6-8{
        width: 100%;
    }

 

}

@media screen and (min-width: 720px) {


    .column-6-8 {
        width: 67%;
    }

   



  
}
