html{
/*  max-width: 1080px;
  min-width: 720px;*/
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Assistant";
    /*background-color: #414750;*/
    color: white;
}

#header-logo {
  width: 12em;
  vertical-align: center;
  margin: 1.5em auto;
  display: inline-block;
}

#cover {
  width: 100%;
  margin: auto;
  position: relative;
}

#card{
  width: 30%;
  height: 100vh;
  margin: 0;
 /* padding: 2%;*/
  display: inline-block;
  float: left;

  background-color: #414750;
 
}

.card-wrapper{
  padding: 2em;
}

#chapters{

  width: 70%;
  height: 100vh;
  display: inline-block !important;
 

}

.chapter-block{
  /*background-color: rgba(0,0,0,0.8);*/
  margin: 0;
  width: 100%;
  height: 20vh;
  text-align: center;
  display: block;
  margin: 0 auto;


}

.chapter-block a {
  /*color: rgba(255,255,255,0.8);*/
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 700;
  font-size: 3em;
  line-height: 20vh;
}

/*.chapter-block a:hover{
   color: rgba(255,255,255,1);
}*/

.chapter-block:hover{
  background-color: rgba(0,0,0,0.3);
  /*color: rgba(255,255,255,0.8);*/
}

#background {
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  position: absolute;
  z-index: -1;
}

#background a {
  display: block;
}

a{
  color:white;