<div class="visualization hide-backToTop">
  <div class="visualization-column-1">
    <p>In this visualization, you are trying to find the parameter corresponding to the minimum of a cost function (<font color="blue">blue parabola</font>) using gradient descent. At a given point (<font color="blue">blue dot</font>), the cost function is approximated by its slope (<font color="orange">orange line</font>). You can tune the cost curvature and the learning rate, which together determine the direction and value of each parameter update and the approximation error (<font color="red">red line</font>).</p>
  </div>
  <div class="visualization-column-2">
    <svg id="loss" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 565 403">
        <rect id="frame" width="565" height="403" fill="none"/>
        <g id="loss_graph" data-name="loss graph">
          <g id="axes">
            <line id="bottomLine" x1="61.48" y1="364.65" x2="523.48" y2="364.65" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="3"/>
            <line id="vert" x1="61.48" y1="364.65" x2="61.48" y2="17.55" fill="none" stroke="#aaa" stroke-miterlimit="10" stroke-width="3"/>
            <polygon id="left_arr" data-name="left arr" points="521.68 359.15 521.68 369.35 532.08 364.65 521.68 359.15" fill="#aaa"/>
            <polygon id="up_arr" data-name="up arr" points="56.38 19.05 66.68 19.05 61.88 8.65 56.38 19.05" fill="#aaa"/>
          </g>
          <line id="errorLine" x1="3" y1="8.65" x2="3" y2="8.65" fill="none" stroke="#ff1e00" stroke-miterlimit="10" stroke-width="3"/>
          <path id="flat_curve" data-name="flat curve" d="M93.22,59.88S188.5,299.22,311.5,299.22,529.85,59.88,529.85,59.88" fill="none" stroke="#2665ba" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
          <path id="steep_curve" data-name="steep curve" d="M151,59.88s70.1,239.34,160.49,239.34S472.12,59.88,472.12,59.88" fill="none" stroke="#2665ba" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
          <line id="deriv" x1="523.48" y1="299.22" x2="99.59" y2="299.22" fill="none" stroke="red" stroke-miterlimit="10" stroke-width="3"/>
          <line id="ph_deriv" data-name="ph deriv" x1="523.48" y1="299.22" x2="99.59" y2="299.22" fill="none" stroke="#ffa600" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
          <line id="learnLine" x1="3" y1="8.65" x2="3" y2="8.65" fill="none" stroke="#ffc900" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4"/>
          <circle id="cloneDot" cx="311.54" cy="299.22" r="6.66" fill="#ffdc58"/>
          <circle id="phDot" cx="311.54" cy="299.22" r="6.66" fill="none"/>
          <circle id="centerDot" cx="311.54" cy="299.22" r="6.66" fill="#5ea0fa"/>
          <text transform="translate(10.35 19.05)" font-size="15" fill="#878787" font-family="Assistant" style="isolation: isolate">Cost</text>
          <text transform="translate(483.95 394.12)" font-size="15" fill="#878787" font-family="Assistant" style="isolation: isolate">Parameters</text>
        </g>
    </svg>
  </div>
  <div class="visualization-column-1">
    <p id="iter_text">Iteration: <span id="curvature_ittr">0</span></p>
    <p>Cost function curvature:</p>
    <label id="lo_toggle" class="radio-container">Low
        <input type="radio" value="20" name="curvature_crate" checked>
        <span class="checkmark"></span>
    </label>
    <label id="hi_toggle" class="radio-container">High
        <input type="radio" value="1000" name="curvature_crate">
        <span class="checkmark"></span>
    </label>
    <p>Learning rate:</p>
    <label id="sm_toggle" class="radio-container">Small
        <input type="radio" value="800" name="curvature_lrate">
        <span class="checkmark"></span>
    </label>
    <label id="big_toggle" class="radio-container">Large
        <input type="radio" value="800" name="curvature_lrate" checked>
        <span class="checkmark"></span>
    </label>
    <div>
    <button class="button-transport" id="replay" title="reset">
        <img src="/assets/images/layout/reset.png"> Reset
    </button>
    <br>
    <img src="/assets/images/article/optimization/approx_error.png" style="width:50%">
    </div>
  </div>
</div>
