<div class="visualization hide-backToTop" id="landscape">
    <div class="visualization-column-2">
        <p>In this visualization, you will choose the loss function and the starting point of your optimization. Although there's no explicit network function, you can assume that finding the minimum of your loss function is equivalent to finding the best network function for your task.</p>

        <h3>1. Choose a loss landscape</h3>
        <p>Select an <a href="https://en.wikipedia.org/wiki/Test_functions_for_optimization">artificial landscape</a> $\mathcal{L}(w_1,w_2)$.</p>
        <div class="lossFunctions">
            <label>
              <input type="radio" name="loss" value="himmelblaus" checked/>
              <img src="/assets/images/article/optimization/loss/himmelblaus.png">
            </label>
            <label>
              <input type="radio" name="loss" value="styblinskiTang" />
              <img src="/assets/images/article/optimization/loss/styblinskiTang.png">
            </label>
            <label>
              <input type="radio" name="loss" value="rosenbrock" />
              <img src="/assets/images/article/optimization/loss/rosenbrock.png">
            </label>
            <label>
              <input type="radio" name="loss" value="goldsteinPrice"/>
              <img src="/assets/images/article/optimization/loss/goldsteinPrice.png">
            </label>
        </div>
        <h3>2. Choose initial parameters</h3>
        <p>On the loss landscape graph, drag the <font color="red">red dot</font> to choose the initial parameters values and thus the initial value of the loss.</p>

        <h3>3. Choose an optimizer</h3>
        <p>Select the optimizer and its hyperparameters.</p>


        <table>
          <tr>
            <th>Optimizer</th>
            <th>Learning Rate</th> 
            <th>Learning Rate Decay</th>
          </tr>
          <tr>
            <td>
                <div class="checkbox">
                    <input type="checkbox" name="opt" value="gd" checked/>
                    <label>Gradient Descent</label>
                </div>
                
            </td>
            <td><input class="gd" type="number" name="lrate" value="0.001" min="0" max="1" step="0.0001"/></td>
            <td><input class="gd" type="number" name="ldecay" value="0" min="0" max="1" step="0.01"/></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="opt" value="momentum" checked/> Momentum</td>
            <td><input class="momentum" type="number" name="lrate" value="0.001" min="0" max="1" step="0.0001"/></td>
            <td><input class="momentum" type="number" name="ldecay" value="0" min="0" max="1" step="0.01"/></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="opt" value="rmsprop" checked/> RMSprop</td>
            <td><input class="rmsprop" type="number" name="lrate" value="0.001" min="0" max="1" step="0.0001"/></td>
            <td><input class="rmsprop" type="number" name="ldecay" value="0" min="0" max="1" step="0.01"/></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="opt" value="adam" checked/> Adam</td>
            <td><input class="adam" type="number" name="lrate" value="0.001" min="0" max="1" step="0.0001"/></td>
            <td><input class="adam" type="number" name="ldecay" value="0" min="0" max="1" step="0.01"/></td>
          </tr>
        </table>
        <p>Optimize your loss function.</p>
        <button class="button-transport" id="reset" title="reset">
            <img src="/assets/images/layout/reset.png">
        </button>
        <button class="button-transport" id="train" title="start">
            <img src="/assets/images/layout/play.png">
        </button>
        <button class="button-transport hidden" id="stop" title="stop">
            <img src="/assets/images/layout/pause.png">
        </button>
    </div>
    <div class="visualization-column-2">
        <p> This 2D plot describes the value of your loss function for different values of the 2 parameters $(w_1,w_2)$. The darker the color, the larger the loss value.</p>
        <div id="landscape_contour"></div>
        <div id="landscape_loss"></div>
    </div>
</div>