

#example_2D {
	white-space: nowrap;
	width: 1000px;
	margin: auto;
}
#input {
	white-space: initial;
	width: 250px;
	vertical-align: top;
	display: inline-block;
}
#network {
	white-space: initial;
	width: 500px;
	vertical-align: top;
	display: inline-block;
}
#output {
	white-space: initial;
	width: 250px;
	vertical-align: top;
	display: inline-block;
}


/* SVG elements */

.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.axis text,
text.label {
	text-anchor: middle;
	font-size: 10px;
	fill: black;
}


/* Input */

.dataset {
	fill: white;
	fill-opacity: 0.5;
	stroke: black;
	stroke-opacity: 0.5;
	stroke-width: 2px;
}
.dataset:hover {
	fill-opacity: 0;
	stroke-opacity: 1;
}

/* Network */

.Input {
	fill: white;
	stroke: black;
    stroke-width: 2px;
}

.Relu {
	fill: #f5d800;
	stroke: black;
    stroke-width: 2px;
}

.Sigmoid {
	fill: #46c8b2;
	stroke: black;
    stroke-width: 2px;
}


line.link {
	stroke: black;
	stroke-width: 1px;
	stroke-dasharray: 10;
}

line.weight {
	stroke-dasharray: 10;
	-webkit-animation-name: forward; 
	-webkit-animation-duration: 5s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
line.gradient {
	stroke-dasharray: 10;
	-webkit-animation-name: backward; 
	-webkit-animation-duration: 5s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@keyframes forward {
  to {
    stroke-dashoffset: -100;
  }
}

@keyframes backward {
  to {
    stroke-dashoffset: 100;
  }
}


#slider label {
    position: absolute;
    width: 20px;
    margin-left: -15px;
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
}

#slider {
    width: 75%;
    margin: 20px auto;
}

/* Output */

canvas {
	border: 2px solid black;
}