body {
    width: 100%;
    margin: 0;
    font-family: "Assistant";
    background-color: #FFFFFF;

}

.header,
.footer {
    width: 100%;
<<<<<<< Updated upstream
    /*height: 100px;*/
=======
<<<<<<< HEAD
=======
    /*height: 100px;*/
>>>>>>> origin/master
>>>>>>> Stashed changes
    background-color: white;
}

.header {
   /* border-bottom: 1px solid #D0D0D0;*/
}


.header-wrapper{
<<<<<<< Updated upstream
  width: 60%;
  /*margin: 0 auto;*/
=======
<<<<<<< HEAD
  width: 95%;
  margin: 0 auto;
=======
  width: 60%;
  /*margin: 0 auto;*/
>>>>>>> origin/master
}

ul.header-nav{
  display: inline-block;
  float: right;
  margin: 2em 1em;
  cursor: pointer;

}

ul.header-nav li{
  display: inline-block;
  float: right;
  margin: 0 1em;
}

#header-logo{
  width: 12em;
  vertical-align: center;
  margin: 1.5em auto;
  display: inline-block;

>>>>>>> Stashed changes
}

.intro{
  padding-top:5em;
}

.footer {
    border-top: 1px solid #D0D0D0;
    margin-top: 200px;
    padding-top:2em;
    padding-bottom: 2em;
}

.main {
    width: 100%;
    height: auto;
   /* background-color: #F0F0F0;*/
}

.container {
  
    width: 75%;
    margin: 0 auto;
    height: auto;
}

.container h1 {
    margin: 0%;
}

.container h2 {
    color: #9B9B9B;
    margin-top: 0;
    margin-bottom: 5%;
}




/*grid*/

.line-break-lg{
  width: 100%;
  height: 5em;
}

.line-break-md{
  width: 100%;
  height: 2em;
}

.line-break-sm{
  width: 100%;
  height: 1em;
}

.column-8-8,
.column-6-8,
.column-4-8,
.column-3-8,
.column-2-8 {
    margin:0% 1%;
    padding:0 1%;
}


.footer .column-8-8,
.footer .column-6-8,
.footer .column-4-8,
.footer .column-3-8,
.footer .column-2-8 {
    margin:0% 2%;
}


.column-2-8 img,
.column-3-8 img,
.column-4-8 img,
.column-6-8 img,
.column-8-8 img {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.viz-column-8-8,
.viz-column-4-8,
.viz-column-2-8{
  margin:0% 2%;
}

.viz-column-4-8 img{  
  width: 425px;
}

.viz-column-2-8 img{  
  width: 212.5px;
}

.viz-column-8-8 img{  
  width: 1000px;
}
.viz-column-8-8,
.viz-column-4-8,
.viz-column-2-8{
  display: inline-block;
  vertical-align: text-top;
}
.viz-column-8-8{
  width: 1000px;
}
.viz-column-4-8{
  width: 500px;
}

.viz-column-2-8{
  width: 250px;
}

img{
	width: 100%;}

.column-align {
    display: inline-block;
    vertical-align: text-top;
}

.full-container{
  background-color: #F9F9F9;
  border-top:1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  
  margin:3% auto 2% auto;
  padding:2% 4% 2% 6%;
  min-width: 1200px;

}

.full-container-image img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.full-container h3{
  margin: 1em 0 0 0;
}

.margin {
   position: relative;
}

.marginanchor{
  cursor: pointer;
  /*font-weight: bold;*/
  font-style: italic;
  border-bottom: 2px rgba(255,196,0,0);/*#4DB6AC;*/
}

.marginbody{
  border: 2px solid rgba(255,196,0,0);
  position: absolute;
  padding:0 1em;
}

.marginanchor:hover{
  background-color: rgba(255,196,0,1);
  border-bottom: 2px solid rgba(255,196,0,1);

}

.margin-border{
  /*border:2px solid rgba(143,222,255,1);*/
  border: 2px solid rgba(255,196,0,1);/*rgba(77,182,172,1);*/


}


/*Typography*/

h1 {
    font-size: 48px;
}

h2 {
    font-weight: 400;
}

h3{
  margin: 2em 0 0 0;
}

h5{
	margin-bottom: 0.4em;
	font-weight: 600;
}

p {
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
}

p i{
  font-size: 16px;
}

li{
  line-height: 1.8em;
  font-size: 18px;
}

ol  ol li{
  font-size: 16px;
  line-height: 2em;
}
ul{
  list-style: none;
}

ol{
 
  padding-top: 1em;
  padding-bottom: 1em;
}

ol.tableOfContent{
  border-left: 1px solid #767676;
  color:#767676;
  padding-left: 3em;
  padding-top: 0em;
  padding-bottom: 0em;
}

ol.tableOfContent li{
  line-height: 1em;
  margin:1em 0;
  cursor: pointer;
  font-size: 16px;
}

.footnote-index{
  cursor: pointer;
}

h3.tableOfContent{
  color:rgba(0,0,0,0.8);
  padding-top: 1em;
}


ol.tableOfContent li:hover{
  color:black;

}


.bold{
  font-weight: 600;
}


.caption {
    color: #9B9B9B;
    font-weight: 200;
    font-size: 16px;
}

p.img-caption{
	color: #9B9B9B;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 2.5em;
    font-size: 16px;
    font-style: italic;
}

p.inline-caption{
  color: #9B9B9B;
    font-weight: 200;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 20px;
    font-style: italic;
    border-left: 2px solid #03A9F4;
    padding-left: 1em;

}

h4.reference{
  font-weight: 600;
   margin-top:1em;
  margin-bottom:0.5em;
}

ol.reference{

  padding-top:0;
  padding-bottom: 0;
  margin-top:0.5em;
  margin-bottom:0.5em;
 

}



label.viz{
  padding-right: 5%;
}
ol.reference li{

    color: #9B9B9B;
    line-height: 1.5em;
    padding:1% 0;
    font-size: 16px;

    
}

.divider-bottom{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 1.5em;
	margin-bottom: 2.5em;
}

.divider-top{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 1.5em;
	margin-bottom: 2.5em;
}

.katex-display{
  margin:2.5em 0 !important;
  font-size: 1.2em !important;
}

.katex{
  font-size: 0.9em !important;
}

/*Responsive*/

@media screen and (max-width: 680px) {

    .column-align {
        display: block;
    }


    .column-8-8,.column-6-8,.column-4-8,
    .column-3-8,.column-2-8 {
        width: 100%;
    }

    .sm-screen-img{
    	display: block;
    }

    ol{
    padding-left: 1em;
    } 

}

@media screen and (min-width: 680px) {
    .column-8-8 {
        width: 84%;
    }

    .column-6-8 {
        width: 67%;
    }

    .column-4-8 {
        width: 42%;
    }

    .column-3-8{
    	width: 31.5%;
    }

    .column-2-8 {
        width: 21%;
    }

    .sm-screen-img{
    	display: none;
    }

    .lg-screen-img{
    	display: inline-block;
    }

    ol{
    padding-left: 4em;}

  
}
/*stylesheet*/
.button{
	/*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);*/
	padding: 0.5em 1.2em;
  margin: auto 0.2em;
	font-size: 14px;
	background-color: white;
	border-radius: 0.2em;
	 -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
    font-family: "Assistant";
}

.button-transport{
  padding: 0.2em 1em 0em 1em;
  margin: auto 0.2em;
  font-size: 14px;
  background-color: white;
  border-radius: 0.2em;
   -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
    font-family: "Assistant";
}

.button-transport img{
  width: 1.5em;
  height: 1.5em;
}

.button:hover,.button-transport:hover{
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  /*border:1px solid rgba(3, 169, 244, 1);*/
}

.button.emphasized{
	background-color: #03A9F4 !important;
	color:white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	border: transparent;
}

.button.emphasized:hover{
	box-shadow: 0 2px 8px rgba(3, 169, 244, 0.4);
}

.inactive{
  pointer-events: none;
  opacity: 0.3;
}

.hidden{
  display: none;
}

/*radioButton*/
/* The container */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 2em;
    padding-right: 2.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid #d0d0d0;
    border-radius: 50%;
    -webkit-transition: border 0.5s; /* For Safari 3.1 to 6.0 */
    transition: border 0.5s;


}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    border:1px solid rgba(3, 169, 244, 1);
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #ffffff;
    border:1px solid #039BE5;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #03A9F4;
}


/*slider*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(208, 208, 208, 0.78);
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(3, 169, 244, 0.23), 0px 0px 0px rgba(20, 180, 252, 0.23);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: rgba(41, 182, 246, 0.94);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(221, 221, 221, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(208, 208, 208, 0.78);
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(3, 169, 244, 0.23), 0px 0px 0px rgba(20, 180, 252, 0.23);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: rgba(41, 182, 246, 0.94);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(195, 195, 195, 0.78);
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(208, 208, 208, 0.78);
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(3, 169, 244, 0.23), 0px 0px 0px rgba(20, 180, 252, 0.23);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: rgba(41, 182, 246, 0.94);
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(208, 208, 208, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(221, 221, 221, 0.78);
}
