
/* Document Layout*/

body{
	margin: 5%;
	font-family: 'Assistant', sans-serif;
}
p {
	font-size: 14px;
	margin: 5px 0px;
}
.medium {
	font-size: 12px;
}
.small {
	font-size: 10px;
}

.layer {
	stroke-width: 2px;
	fill: none;
}

.layer-0 {
	stroke: black;
}
.layer-1 {
	stroke: blue;
}
.layer-2 {
	stroke: red;
}
.layer-3 {
	stroke: green;
}
.layer-4 {
	stroke: yellow;
}
