$col-article: 4;
$sum-article: 8;

.article-content{
	@include col(5,8,$marg-article);
	text-align: left;
	
	position: relative;
	// max-width: 1200px;
	// min-width: $screen-xs-min;

	@include breakpoint(lg){
		@include col(4,8,$marg-article);
	}

}


.full-width {
	width: 95vw;
    position: relative;
    height: auto;
    left: calc(-47.5vw + 50%);
    text-align: center;
    margin: 2rem 0;
    padding: 2rem 2.5vw;
}
	
